# Exclude the environment variables except the global ones.
.env

# Exclude temp directory.
/temp


# Exclude build directories.
/build
/bin


# Exclude thirdparty build directories.
/thirdparty
!/thirdparty/**/^@*

# Exclude IDE's info.
/.vscode


# Exclude any caches.
/__pycache__
