[submodule "spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tdlib"]
	path = thirdparty/tdlib
	url = https://github.com/tdlib/td
[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git
